@{
    ViewBag.Title = "Esqueceu sua senha?";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="text-center">
    <h2 class="h4 text-gray-900 mb-4">@ViewBag.Title</h2>
</div>

<div>
    <p>
        @*Please check your email to reset your password.*@
        Por favor, confirme seu e-mail para reiniciar sua senha.
    </p>
    <div class="text-center">
        @Html.ActionLink("Voltar para Login", "Login", null, new { @class = "small" })
    </div>
</div>
	
