<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <add name="GymTechConnection" connectionString="server=mysql.academiakalinauskas.com.br;uid=academiakalina;password=gymtech01;persistsecurityinfo=True;database=academiakalina;port=3306" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>
