@model TSI.GymTech.WebAPI.Models.IndexViewModel
@{
    ViewBag.Title = "Alterar Senha";
}

<h4>@ViewBag.Title</h4>
<hr />

<section id="loginForm" class="user">
    <p class="text-success">@ViewBag.StatusMessage</p>
</section>